
.form-container{
    border: 1px solid #505050;
    box-shadow: 3px 3px 3px grey;
    border-radius: 4px;
    margin: auto;
    margin-top: 80px;
    width: 50%;
    padding: 48px;
}

.form-container input {
    margin-left: 0;
    margin-right: 0; 
}